@import 'tailwindcss';

:root {
  --background: #f8f8f8;
  --foreground: #333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
}

@theme {
  --color-primary: #b7f272;
  --color-secondary: #1a1e29;
  --color-tertiary: #647bef;
  --color-gray: #ededed;
}

@layer utilities {
  .container {
    max-width: calc(var(--container-max-width, 1220px) + 20px);
    width: 100%;
    margin-inline: auto;
    padding-inline: 20px;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    display: flex;
    animation: marquee 20s linear infinite;
  }

  /* Маска по бокам */
  .mask-left-right {
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
